<footer class="festival-footer">

    <picture class="festival-footer__logo">
      <source srcset="./assets/images/logo.transparente.png?as=webp&width=50" type="image/webp">
      <img src="./assets/images/logo.transparente.png?width=50" alt="Festival JAZZ" class="yamaha-trumpet" title="CC0 Domaine public Gratuit pour un usage personnel et commercial"/>
    </picture>

    <nav class="festival-footer__menu">
      <span><a href="./index.html" class="festival-footer__item" href="">Home</a></span>
      <span><a href="./page-two.html" class="festival-footer__item" href="">Members</a></span>
      <span><a href="#" class="festival-footer__item" href="">Bio</a></span>
      <span><a href="./page-four.html" class="festival-footer__item" href="">Contact</a></span>
    </nav>

    <nav class="festival-footer__social">
      <span><a class="festival-footer__item" href="#" title="go to Google Plus"><i class="fa-brands fa-square-google-plus fa-xl"></i></a></span>
      <span><a class="festival-footer__item" href="#" title="go to Facebook"><i class="fa-brands fa-square-facebook fa-xl"></i></a></span>
      <span><a class="festival-footer__item" href="#" title="go to Twitter"><i class="fa-brands fa-square-twitter fa-xl"></i></a></span>
    </nav>

</footer>