<footer class="festival-footer">

    <picture class="festival-footer__logo">
      <source srcset="./assets/images/logo.transparente.png?as=webp&width=50" type="image/webp">
      <img src="./assets/images/logo.transparente.png?width=50" alt="Festival JAZZ" class="yamaha-trumpet" title="CC0 Domaine public Gratuit pour un usage personnel et commercial"/>
    </picture>

    <nav class="flex justify-center space-x-4 text-uoc-corporate">
        <a href="./index.html" class="font-bold px-3 py-2 rounded-lg hover:bg-slate-100 hover:text-slate-900">Home</a>
        <a href="./page-two.html" class="font-bold px-3 py-2 rounded-lg hover:bg-slate-100 hover:text-slate-900">Members</a>
        <a href="#" class="font-bold px-3 py-2 rounded-lg hover:bg-slate-100 hover:text-slate-900">Bio</a>
        <a href="./page-four.html" class="font-bold px-3 py-2 rounded-lg hover:bg-slate-100 hover:text-slate-900">Contact</a>
    </nav>

    <nav class="festival-footer__social">
      <span><a class="festival-footer__item" href="#" title="go to Google Plus"><i class="fa-brands fa-square-google-plus fa-xl"></i></a></span>
      <span><a class="festival-footer__item" href="#" title="go to Facebook"><i class="fa-brands fa-square-facebook fa-xl"></i></a></span>
      <span><a class="festival-footer__item" href="#" title="go to Twitter"><i class="fa-brands fa-square-twitter fa-xl"></i></a></span>
    </nav>

</footer>