<footer class="festival-footer">

    <nav class="flex justify-around items-center space-x-4 text-uoc-corporate">
        <picture class="festival-footer__logo">
            <source srcset="./assets/images/logo.transparente.png?as=webp&width=50" type="image/webp">
            <img src="./assets/images/logo.transparente.png?width=50" alt="Festival JAZZ" class="yamaha-trumpet" title="CC0 Domaine public Gratuit pour un usage personnel et commercial"/>
        </picture>
        <a href="./index.html" class="font-bold px-3 py-2 rounded-lg hover:bg-slate-100 hover:text-slate-900" title="The My Jazz Band concert">Home</a>
        <a href="./page-two.html" class="font-bold px-3 py-2 rounded-lg hover:bg-slate-100 hover:text-slate-900" title="Our members">Members</a>
        <a href="#" class="font-bold px-3 py-2 rounded-lg hover:bg-slate-100 hover:text-slate-900" title="Coming soon ...">Bio</a>
        <a href="./page-four.html" class="font-bold px-3 py-2 rounded-lg hover:bg-slate-100 hover:text-slate-900" title="Contact the My Jazz Band">Contact</a>

      <span><a class="festival-footer__item" href="#" title="go to Google Plus"><i class="fa-brands fa-square-google-plus fa-xl"></i></a></span>
      <span><a class="festival-footer__item" href="#" title="go to Facebook"><i class="fa-brands fa-square-facebook fa-xl"></i></a></span>
      <span><a class="festival-footer__item" href="#" title="go to Twitter"><i class="fa-brands fa-square-twitter fa-xl"></i></a></span>
    </nav>

</footer>
