<header class="festival-header">
    
<!--   <nav class="flex justify-around items-center space-x-4 text-uoc-corporate">
   <picture class="festival-header__logo">
    <source srcset="./assets/images/logo.transparente.png?as=webp&width=75" type="image/webp">
    <img src="./assets/images/logo.transparente.png?width=75" alt="Festival JAZZ" class="yamaha-trumpet" title="CC0 Domaine public Gratuit pour un usage personnel et commercial"/>
   </picture>
  
   <a href="./index.html" class="font-bold px-3 py-2 rounded-lg hover:bg-slate-100 hover:text-slate-900" title="The My Jazz Band concert">Home</a>
   <a href="./page-two.html" class="font-bold px-3 py-2 rounded-lg hover:bg-slate-100 hover:text-slate-900" title="Our members">Members</a>
   <a href="#" class="font-bold px-3 py-2 rounded-lg hover:bg-slate-100 hover:text-slate-900" title="Coming soon ...">Bio</a>
   <a href="./page-four.html" class="font-bold px-3 py-2 rounded-lg hover:bg-slate-100 hover:text-slate-900" title="Contact the My Jazz Band">Contact</a>
  </nav> -->
  


<nav class="flex justify-around items-center space-x-4 text-uoc-corporate">
  <div class="hidden space-x-8 lg:flex">
      <picture >
      <source srcset="./assets/images/logo.transparente.png?as=webp&width=55" type="image/webp">
      <img src="./assets/images/logo.transparente.png?width=55" alt="Festival JAZZ" title="CC0 Domaine public Gratuit pour un usage personnel et commercial"/>
     </picture>
  <!-- </div>
  <div class="hidden space-x-8 lg:flex"> -->
    <a href="./index.html" class="font-bold px-3 py-2 rounded-lg hover:bg-slate-100 hover:text-slate-900" title="The My Jazz Band concert">Home</a>
    <a href="./page-two.html" class="font-bold px-3 py-2 rounded-lg hover:bg-slate-100 hover:text-slate-900" title="Our members">Members</a>
    <a href="#" class="font-bold px-3 py-2 rounded-lg hover:bg-slate-100 hover:text-slate-900" title="Coming soon ...">Bio</a>
    <a href="./page-four.html" class="font-bold px-3 py-2 rounded-lg hover:bg-slate-100 hover:text-slate-900" title="Contact the My Jazz Band">Contact</a>
  </div>
  <div class="flex lg:hidden">
    <div class="space-y-2">
      <span class="block w-8 h-0.5 bg-gray-600 animate-pulse"></span>
      <span class="block w-8 h-0.5 bg-gray-600 animate-pulse"></span>
      <span class="block w-8 h-0.5 bg-gray-600 animate-pulse"></span>
    </div>
  </div>
</nav>
</header>
 
