<header class="festival-header">

  <picture class="festival-header__logo">
    <source srcset="./assets/images/logo.transparente.png?as=webp&width=75" type="image/webp">
    <img src="./assets/images/logo.transparente.png?width=75" alt="Festival JAZZ" class="yamaha-trumpet" title="CC0 Domaine public Gratuit pour un usage personnel et commercial"/>
  </picture>
  
  <nav class="festival-header__menu">
      <span><a href="./index.html" class="festival-header__item" href="">Home</a></span>
      <span><a href="./page-two.html" class="festival-header__item" href="">Members</a></span>
      <span><a href="#" class="festival-header__item" href="">Bio</a></span>
      <span><a href="./page-four.html" class="festival-header__item" href="">Contact</a></span>
  </nav>
  
</header>

  <button class="btn festival-header--mobile" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
    <picture class="festival-header__logo">
      <source srcset="./assets/images/logo.transparente.png?as=webp&width=35" type="image/webp">
      <img src="./assets/images/logo.transparente.png?width=35" alt="Festival JAZZ" class="yamaha-trumpet" title="CC0 Domaine public Gratuit pour un usage personnel et commercial"/>
    </picture>
  </button>

