<header class="festival-header">

  <picture class="festival-header__logo">
    <source srcset="./assets/images/logo.transparente.png?as=webp&width=75" type="image/webp">
    <img src="./assets/images/logo.transparente.png?width=75" alt="Festival JAZZ" class="yamaha-trumpet" title="CC0 Domaine public Gratuit pour un usage personnel et commercial"/>
  </picture>
  
  <nav class="flex justify-center space-x-4 text-uoc-corporate">
    <a href="./index.html" class="font-bold px-3 py-2 rounded-lg hover:bg-slate-100 hover:text-slate-900">Home</a>
    <a href="./page-two.html" class="font-bold px-3 py-2 rounded-lg hover:bg-slate-100 hover:text-slate-900">Members</a>
    <a href="#" class="font-bold px-3 py-2 rounded-lg hover:bg-slate-100 hover:text-slate-900">Bio</a>
    <a href="./page-four.html" class="font-bold px-3 py-2 rounded-lg hover:bg-slate-100 hover:text-slate-900">Contact</a>
  </nav>
  
</header>

 <!--  <button class="btn festival-header--mobile" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
    <picture class="festival-header__logo">
      <source srcset="./assets/images/logo.transparente.png?as=webp&width=35" type="image/webp">
      <img src="./assets/images/logo.transparente.png?width=35" alt="Festival JAZZ" class="yamaha-trumpet" title="CC0 Domaine public Gratuit pour un usage personnel et commercial"/>
    </picture>
  </button> -->

 
