<section>
    <form class="grid grid-rows-3 items-center gap-4 place-content-center" action="/news-letter-suscription.php">

        <section class="basis-1/3"><h3 class="">Please, subscribe to our newsletter:</h3></section>
        
        <section class="basis-1/4"><input class="mt-1 block w-e4full px-3 py-2 
                                                bg-white border border-slate-300 
                                                rounded-md text-sm shadow-sm field-hover field-focus" 
          type="mail" id="your-mail" name="your-mail" required placeholder="mymail@domain.com"></section>
        
        <section class="basis-1/4"><button type="submit" class="button button-hover button-focus"
            >Subscribe</button>
        </section>

    </form>

</section>